# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
venv/
.venv/
# Environment variables & Secrets
.env
.env.*
!.env.example
!.env.template


# pytest
.pytest_cache/

# mypy
.mypy_cache/

# IDE
.vscode/
.idea/
*.swp

# ML Artifacts
data/ml/
